<!doctype html>
<html>
  <head>
    <title>About <%=shopName%></title>
    <!-- Here is a small example of how it looks like of the about page, with the tailwind css in the class and some text.The tailwind css is here to make the user enjoy the experiance. -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <h1 class="my-0 mx-auto max-w-3xl text-center">About <%=shopName%></h1>
    <p class="text-slate-500 group-hover:text-white text-sm px-10 pb-10 py-10 text-center hover:text-base">We sell all sorts of foods and nothing else! Also the application is done by Aleksander Kirsten!</p>
  </body>
</html>
