<!doctype html>
<html>
  <head>
    <title class="bg-sky-500 hover:bg-sky-700">Welcome to <%=shopName%></title>
    <!-- Here in the index.ejs we have a list of other pages that we can enter and do their function. The tailwind css is here to make the user enjoy the experiance. -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <h1 class="text-center sm:text-left p-5 hover:text-base">Welcome to <%=shopName%></h1>
    <p class="text-slate-500 group-hover:text-white text-sm px-10 pb-10 text-left hover:text-base"><a href="login">Login into your Account</a></p>
    <p class="text-slate-500 group-hover:text-white text-sm px-10 pb-10 text-left hover:text-base"><a href="about">About <%=shopName%></a></p>
    <p class="text-slate-500 group-hover:text-white text-sm px-10 pb-10 text-left hover:text-base"><a href="search">Search for foods</a></p>
    <p class="text-slate-500 group-hover:text-white text-sm px-10 pb-10 text-left hover:text-base"><a href="addFood">Add food at the page</a></p>
    <p class="text-slate-500 group-hover:text-white text-sm px-10 pb-10 text-left hover:text-base"><a href="list">List of foods</a></p>
    <p class="text-slate-500 group-hover:text-white text-sm px-10 pb-10 text-left hover:text-base"><a href="updatefood">Updating the food!</a></p>
    <p class="text-slate-500 group-hover:text-white text-sm px-10 pb-10 text-left hover:text-base"><a href="register">Register with us</a></p>
    <p class="text-slate-500 group-hover:text-white text-sm px-10 pb-10 text-left hover:text-base"><a href="/api">Food API</a></p>
    <p class="text-slate-500 group-hover:text-white text-sm px-10 pb-10 text-left hover:text-base"><a href="/logout">Logout from the page</a></p>
  </body>
</html>
