<!doctype html>
<html>
  <head>
    <title>Search <%=shopName%></title>
    <!-- <link rel="stylesheet"  type="text/css" href="public/styles/style.css" /> -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <h1 class="my-0 mx-auto max-w-3xl text-left">Search <%=shopName%></h1>
    <form action="/search-result" method="GET">
      <p class="text-slate-500 group-hover:text-white text-sm px-10 pb-10 py-10 text-left hover:text-base">What food do you want?</p>
      <input class="hover:text:bg-violet-100" id="search-box" type="text" name="keyword" value="Type Here">
      <input type="submit" value="Search" >
    </form>
  </body>
</html>